includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 3

    ignoreErrors:
        - '#Call to private method find\(\) of parent class Illuminate\\Database\\Eloquent\\Relations\\HasMany#'

#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
    
